@charset "UTF-8";

body{ /* Normal  */
      font-size: 16px;
      background: white;
      color: #000000;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: 0.75px;
      font-family: 'Times New Roman', "MS PMincho", Times, serif;
  }

td {  /* Table  */
  font-size: 12px;
}
h1.title {
  font-size: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
  line-height: 1.4;
  font-weight: 550;
  font-family: "Source Code Pro", "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "Meiryo", verdana, sans-serif;
}
h1 { 
  font-size: 22px;
}

h2 { 
  font-size: 18px;
}
h3 { 
  font-size: 16px;
}
code {
  padding: 0 5px;
  background: #f8f4e6;
  font-family: "Source Code Pro", "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "Meiryo", verdana, sans-serif;
  font-weight: normal;
  border-radius: 2px;
}